<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="http://media.jacobian.org/cheeserater/reset.css" type="text/css">
	<link rel="stylesheet" href="http://media.jacobian.org/cheeserater/cheeserater.css" type="text/css">
	{% block extrahead %}{% endblock %}
	<title>{% block title %}CheeseRater{% endblock %}</title>
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <h1><a href="/">CheeseRater</a></h1>
      <ul>
        <li><a href="/packages/">By Name</a></li>
        <li><a href="/packages/by-category/">By Category</a></li>
        <li><a href="/packages/by-score/">By Score</a></li>
        <li><a href="/packages/search/">Search</a></li>
      </ul>
    </div>
    <div id="account">
      {% if user.is_authenticated %}
        Logged in as <em>{{ user.username }}</em> (<a href="/accounts/logout/">logout</a>)
      {% else %}
        <a href="/accounts/login/">Log in</a> or <a href="/accounts/register/">register</a> to vote.
      {% endif %}
    </div>
    {% block content-wrapper %}
      <div id="list-content">
        {% block content %}{% endblock %}
      </div>
    {% endblock %}
    <div id="footer">
      <p>
        &copy; <a href="http://www.jacobian.org/">Jacob Kaplan-Moss</a>. 
        Designed by <a href="http://www.jeffcroft.com/">Jeff Croft</a>. 
        Data via the <a href="http://cheeseshop.python.org/">Cheeseshop</a>.
        Use <a href="http://media.jacobian.org/cheeserater/cheeserater-src.tgz">the source</a>, Luke.
        <a href="http://www.djangoproject.com/">Django</a> FTW.
      </p>
    </div>
  </div>
</body>
</html>
