{% extends "base.html" %}

{% block title %}
  Log in | {{ block.super }}
{% endblock %}

{% block content %}
  <h2>Log in</h2>
  <form class="regform" action="." method="post" accept-charset="utf-8">
    {% if form.has_errors %}
      <h3 class="error">Please enter a valid username and password.</h3>
    {% endif %}
    <p>Don't have an account? <a href="/accounts/register/">Create one!</a>
    <h3><label for="id_username">Username:</label></h3>
    <p>{{ form.username }}</p>
    <h3><label for="id_password">Password:</label></h3>
    <p>{{ form.password }} (<a href="/accounts/password_reset/">forgot your password?</a>)</p>
    <p><input class="button", type="submit" value="Log in"></p>
    <input type="hidden" name="next" value="{% if next %}{{ next|escape }}{% else %}/{% endif %}">
  </form>
{% endblock %}
